.list-item {
  background-color: rgb(28, 28, 36);
  margin: 8px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.search-box {
  background-color: rgb(75, 75, 75);
  color: white;
  border: 0 solid black;
  border-radius: 3px;
  padding: 8px;
}

.search-container {
  align-items: baseline;
}

.label-margin {
  margin-left: 16px;
  margin-right: 16px;
}